ENV=PROD
BACKEND_IMAGE=$IMAGE
DEBUG=false

# postgres 数据库配置
POSTGRES_HOST=192.168.3.5
POSTGRES_PORT=5432
POSTGRES_USER=postgres_falv
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=Falv
DB_POOL_MAX=100
DB_POOL_CONN_LIFE=-1

# redis配置
REDIS_HOST=192.168.3.5
REDIS_PORT=6379
REDIS_USER=
REDIS_PWD=